.header-about{
    text-align: center;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #1B998B;
}

.card-text {
    color:#2D3047;
    font-family: 'Merriweather', serif;
}
