.header-about{
    text-align: center;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    padding-top: 20px;
    padding-bottom: 40px;
    color:navy;
}

.card-text {
    color:grey;
    font-family: 'Merriweather', serif;
}
